@model ProductViewModel

<!-- EXPORT-buttons: -->
<div class="container">
    @*<div class="float-sm-left" style="margin-bottom:10px; margin-top:80px;">
            <a asp-controller="Product" asp-action="GetAllProductsToXml" class="btn btn-info btn-md" asp-route-id="@Model.Id">Export XML</a>
            <a asp-controller="Product" asp-action="GetAllProductsToJson" class="btn btn-info btn-md" asp-route-id="@Model.Id">Export Json</a>
        </div>*@

    <!-- CRUD-buttons to modals:-->
    <div class="float-sm-right" style="margin-bottom:10px; margin-top:80px">
        <button type="button" class="btn btn-md btn-success" name="createSomething" id="createSomething" data-toggle="modal" data-target="#createModal" data-name="@Model.SubCategories">Create</button>       
        <button type="button" class="btn btn-md btn-warning" name="updateSomething" id="updateSomething" data-toggle="modal" data-target="#updateModal" disabled>Update</button>
        <button type="button" class="btn btn-md btn-danger" name="deleteSomething" id="deleteSomething" data-toggle="modal" data-target="#deleteModal" disabled>Delete</button>
    </div>

    <h1>@ViewBag.EntityType</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name:</th>
                <th scope="col">Description:</th>
                <th scope="col">Price:</th>
                <th scope="col">Export XML:</th>
                <th scope="col">Export JSON:</th>
                @if (User.IsInRole("Administrator") || User.IsInRole("Publisher"))
                {
                    <th scope="col">Published:</th>
                } 
                <th><a>Details:</a></th>
            </tr>
        </thead>
        @foreach (var prod in Model.Products)
        {
            <tbody>
                <tr>
                    <th scope="row"><input type="checkbox" class="chk" value="@prod.Id" data-name="@prod.Name" data-prodSubCat="@prod.SubCategory.SubCategoryAttributeGroups"/> @prod.Name</th>
                    <td><p><i>@prod.Description</i></p></td>
                    <td>@prod.Price:-</td>
                    <td><button type="submit" class="btn btn-info btn-sm">Export XML</button></td>
                    <td><button type="submit" class="btn btn-info btn-sm">Export JSON</button></td>
                    @if (User.Identity.IsAuthenticated)
                    {
                        @if (User.IsInRole("Administrator") || User.IsInRole("Publisher"))
                        {
                            @if (prod.Published == true)
                            {
                                <td><input type="checkbox" class="publishchk" for="Published" value="@prod.Published" data-name="@prod.Id" checked /></td>
                            }
                            @if (prod.Published == false)
                            {
                                <td><input type="checkbox" class="publishchk" for="Published" value="@prod.Published" data-name="@prod.Id" /></td>
                            }
                        }
                    }
                    <td><a asp-controller="Product" asp-action="Details" asp-route-id="@prod.Id" style="color:black;"><strong>Check Out</strong></a></td>
                </tr>
            </tbody>
        }
    </table>
</div>

<script>
    var entityType = '@ViewBag.EntityType';
</script>

@await Component.InvokeAsync("ProductCrudVc", Model)
@await Component.InvokeAsync("ProductDetailsVc", Model)

