@model IEnumerable<Product>

<!-- CRUD-buttons to modals:-->
<div class="float-sm-right" style="margin-bottom:10px; margin-top:80px">
    <button type="button" class="btn btn-md btn-success" name="createSomething" id="createSomething" data-toggle="modal" data-target="#createModal">Create</button>
    <button type="button" class="btn btn-md btn-warning" name="updateSomething" id="updateSomething" data-toggle="modal" data-target="#updateModal">Update</button>
    <button type="button" class="btn btn-md btn-danger" name="deleteSomething" id="deleteSomething" data-toggle="modal" data-target="#deleteModal">Delete</button>
</div>

<div class="container">
    <h1>Product</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name:</th>
                <th scope="col">Description:</th>
                <th scope="col">Published:</th>
                <th scope="col">Updated Date:</th>
            </tr>
        </thead>
        @foreach (var prod in Model)
        {
            <tbody>
                <tr>
                    <th scope="row"><input type="checkbox" class="chk" value="@prod.Id" /> @prod.Name</th>
                    <td>@prod.Description</td>
                    <!-- TODO: Implement button to Published to send value to Db with true=green button/false=red button-->
                    <td><input type="checkbox" id="publishchk" value="@prod.Published" /></td>
                    <td>@prod.UpdatedDate.ToString("yyyy-MM-dd")</td>
                </tr>
            </tbody>
        }
    </table>
</div>

@await Component.InvokeAsync("ProductCrudVc")
