@model OneAttributeViewModel

<!-- This is the createModal to create an attribute: -->
<div class="modal fade" id="createModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mx-auto text-center" id="createModalLabel"><strong>CREATE</strong></h5>
            </div>
            <form asp-controller="OneAttribute" asp-action="Add" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <label asp-for="@Model.Name" hidden></label>
                        <input type="text" asp-for="@Model.Name" placeholder="Name..." class="form-control form-control-sm" />
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.Description" hidden></label>
                        <input type="text" asp-for="@Model.Description" placeholder="Description..." class="form-control form-control-sm" />
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.Type" hidden></label>
                        <select asp-for="@Model.Type" class="form-control">
                            <option value="" selected disabled>Select a type</option>
                            <option value="string">Text</option>
                            <option value="int">Number</option>
                            <option value="bool">Yes/No</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.AttributeGroupId" hidden></label>
                        <select asp-for="@Model.AttributeGroupId" class="form-control" required>
                            <option value="" selected>Select an attribute group</option>
                            @foreach (var attrGr in Model.AttributeGroups)
                            {
                                <option value="@attrGr.Id">@attrGr.Name</option>
                            }
                        </select>
                    </div>
                </div>
                <p class="text-center"><strong>Make sure to save your changes.</strong></p>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                    <input type="hidden" name="oneattributeId" value="@Model.Id" />
                    <button type="submit" id="createSomething" class="btn btn-success">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- This is the updateModal to update an attribute: -->
<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mx-auto text-center" id="updateModalLabel"><strong>UPDATE</strong></h5>
            </div>
            <form asp-controller="OneAttribute" asp-action="Add" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <label asp-for="@Model.Name" hidden></label>
                        <input type="text" asp-for="@Model.Name" placeholder="Name..." class="form-control form-control-sm" />
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.Description" hidden></label>
                        <input type="text" asp-for="@Model.Description" placeholder="Description..." class="form-control form-control-sm" />
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <select class="form-control" name="Types">
                                <option value="" selected disabled>Select a type</option>
                                <option value="string">Text</option>
                                <option value="int">Number</option>
                                <option value="bool">Yes/No</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <select asp-for="AttributeGroupId" class="form-control" required>
                            <option value="" selected>Select an attribute group</option>
                            @foreach (var attrGr in Model.AttributeGroups)
                            {
                                <option value="@attrGr.Id">@attrGr.Name</option>
                            }
                        </select>
                    </div>
                </div>
                <p class="text-center"><strong>Make sure to save your changes.</strong></p>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <input type="hidden" name="oneattributeId" value="@Model.Id" />
                    <button type="submit" id="updateSomething" class="btn btn-success">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- This is the deleteModal to delete an attribute: -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mx-auto text-center" id="deleteModalLabel"><strong>DELETE</strong></h5>
            </div>
            <div class="modal-body">
                <p class="text-center"><strong></strong></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                <form asp-action="Delete" method="post">
                    <input type="hidden" name="id" value="@Model.Id" />
                    <button type="submit" id="confirmDelete" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>