@model CategoryViewModel           

<!-- EXPORT-buttons: -->
<div class="container">
    <div class="float-sm-left" style="margin-bottom:10px; margin-top:80px;">
        <a asp-controller="Category" asp-action="GetAllCategoriesToXml" class="btn btn-info btn-md">Export XML</a>
        <a asp-controller="Category" asp-action="GetAllCategoriesToJson" class="btn btn-info btn-md">Export Json</a>
    </div>

    <!-- CRUD-buttons to modals:-->
    <div class="float-sm-right" style="margin-bottom:10px; margin-top:80px">
        <button type="button" class="btn btn-md btn-success" name="createSomething" id="createSomething" data-toggle="modal" data-target="#createModal" data-name="@Model.Categories">Create</button>
        <button type="button" class="btn btn-md btn-warning" name="updateSomething" id="updateSomething" data-toggle="modal" data-target="#updateModal" disabled>Update</button>
        <button type="button" class="btn btn-md btn-danger" name="deleteSomething" id="deleteSomething" data-toggle="modal" data-target="#deleteModal" disabled>Delete</button>
    </div>

    <h1>@ViewBag.EntityType</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name:</th>
                <th scope="col">Added Date:</th>
                <th scope="col">Updated Date:</th>
                <th scope="col">Export XML:</th>
                <th scope="col">Export JSON:</th>
                @if (User.IsInRole("Administrator") || User.IsInRole("Publisher"))
                {
                    <th scope="col">Published:</th>
                }
                </tr>
        </thead>
        @foreach (var cat in Model.Categories)
        {
            <tbody>
                <tr>
                    <th scope="row">
                        <input type="checkbox" class="chk" value="@cat.Id" data-name="@cat.Name" />
                        @cat.Name
                    </th>
                    <td>@cat.AddedDate.ToString("yyyy-MM-dd")</td>
                    <td>@cat.UpdatedDate.ToString("yyyy-MM-dd")</td>
                    <td><a asp-controller="Category" asp-action="GetAllCategoriesToXml" class="btn btn-info btn-sm" asp-route-id="@cat.Id">Export XML</a></td>
                    <td><a asp-controller="Category" asp-action="GetAllCategoriesToJson" class="btn btn-info btn-sm" asp-route-id="@cat.Id">Export Json</a></td>
                    @if (User.Identity.IsAuthenticated)
                    {
                        @if (User.IsInRole("Administrator") || User.IsInRole("Publisher"))
                        {
                            @if (cat.Published == true)
                            {
                                <td><input type="checkbox" class="publishchk" for="Published" value="@cat.Published" data-name="@cat.Id" checked /></td>
                            }
                            @if (cat.Published == false)
                            {
                                <td><input type="checkbox" class="publishchk" for="Published" value="@cat.Published" data-name="@cat.Id" /></td>
                            }
                        }
                    }
                </tr>
            </tbody>
        }
    </table>
</div>

<script>
    var entityType = '@ViewBag.EntityType';
</script>

@await Component.InvokeAsync("CategoryCrudVc", Model)
