@model IEnumerable<Category>

<!-- CRUD-buttons to modals:-->
<div class="float-sm-right" style="margin-bottom:10px; margin-top:80px">
    <button type="button" class="btn btn-md btn-success" name="createSomething" id="createSomething">Create</button>
    <button type="button" class="btn btn-md btn-warning" name="updateSomething" id="updateSomething" data-toggle="modal" data-target="#updateModal">Update</button>
    <button type="button" class="btn btn-md btn-danger" name="deleteSomething" id="deleteSomething" data-toggle="modal" data-target="#deleteModal">Delete</button>
</div>

<div class="container">
    <h1>Category</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name:</th>
                <th scope="col">Published:</th>
                <th scope="col">Added Date:</th>
            </tr>
        </thead>
        @foreach (var cat in Model)
        {
            <tbody>
                <tr>
                    <th scope="row">
                        <input type="checkbox" class="chk" value="@cat.Id" data-name="@cat.Name" />
                        @cat.Name
                    </th>
                    <!-- TODO: Implement button to Published to send value to Db with true=green button/false=red button-->
                    <td><input type="checkbox" id="publishchk" value="@cat.Published" /></td>
                    <td>@cat.AddedDate.ToString("yyyy-MM-dd")</td>
                </tr>
            </tbody>
        }
    </table>
</div>

@await Component.InvokeAsync("CategoryCrudVc")
