@model AttributeGroupViewModel

<!-- CRUD-buttons to modals:-->
<div class="float-sm-right" style="margin-bottom:10px; margin-top:80px;">
    <button type="button" class="btn btn-md btn-success" name="createSomething" id="createSomething" data-toggle="modal" data-target="#createModal" data-name="@Model.OneAttributes">Create</button>
    <button type="button" class="btn btn-md btn-warning" name="updateSomething" id="updateSomething" data-toggle="modal" data-target="#updateModal" disabled>Update</button>
    <button type="button" class="btn btn-md btn-danger" name="deleteSomething" id="deleteSomething" data-toggle="modal" data-target="#deleteModal" disabled>Delete</button>
</div>

<!-- Move this to a view component if you have time... -->
<div class="container">
    <h1>AttributeGroup</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name:</th>
                <th scope="col">Description:</th>
                <th scope="col">Added Date:</th>
                <th scope="col">Updated Date:</th>
            </tr>
        </thead>
        @foreach (var attGr in Model.AttributeGroups)
        {
            <tbody>
                <tr>
                    <th scope="row"><input type="checkbox" class="chk" value="@attGr.Id" data-name="@attGr.Name" /> @attGr.Name</th>
                    <td><p><i>@attGr.Description</i></p></td>
                    <td>@attGr.AddedDate.ToString("yyyy-MM-dd")</td>
                    <td>@attGr.UpdatedDate.ToString("yyyy-MM-dd")</td>
                </tr>
            </tbody>
        }
    </table>
</div>

@await Component.InvokeAsync("AttributeGroupCrudVc", Model)

