@model ProductViewModel

<!-- This is the createModal to create a product: -->
<div class="modal fade" id="createModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mx-auto text-center" id="createModalLabel"><strong>CREATE</strong></h5>
            </div>
            <form asp-controller="Product" asp-action="Add" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <p>
                            <label asp-for="@Model.Name" hidden></label>
                            <input type="text" asp-for="@Model.Name" placeholder="Name..." class="form-control form-control-sm" />
                        </p>
                    </div>
                    <div class="form-group">
                        <p>
                            <label asp-for="@Model.Description" hidden></label>
                            <input type="text" asp-for="@Model.Description" placeholder="Description..." class="form-control form-control-sm" />
                        </p>
                    </div>
                    <div class="form-group">
                        <p>
                            <label asp-for="@Model.Price" hidden></label>
                            <input type="text" asp-for="@Model.Price" placeholder="Price (SEK)..."  class="form-control form-control-sm" />
                        </p>
                    </div>
                    <div class="form-group">
                        <select asp-for="SubCategoryId" class="form-control" required>
                            <option value="" selected>Select a subcategory</option>
                            @foreach (var cat in Model.SubCategories)
                            {
                                <option value="@cat.Id">@cat.Name</option>
                            }
                        </select>
                        <br />
                    </div>
                    <p class="text-center"><strong>Make sure to save your changes.</strong></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                    <input type="hidden" name="productId" value="@Model.Id" />
                    <button type="submit" id="createSomething" class="btn btn-success">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- This is the updateModal to update a product: -->
<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mx-auto text-center" id="updateModalLabel"><strong>UPDATE</strong></h5>
            </div>
            <form asp-controller="Product" asp-action="Update" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <p class="text-center">
                            <label asp-for="@Model.Name"><strong></strong></label>
                            <input asp-for="@Model.Name" placeholder="Name..." class="form-control form-control-sm" />
                        </p>
                    </div>
                    <div class="form-group">
                        <p>
                            <label asp-for="@Model.Description" hidden></label>
                            <input asp-for="@Model.Description" placeholder="Description..." class="form-control form-control-sm" />
                        </p>
                    </div>
                    <div class="form-group">
                        <p>
                            <label asp-for="@Model.Price" hidden></label>
                            <input asp-for="@Model.Price" placeholder="Price (SEK)..." class="form-control form-control-sm" />
                        </p>
                    </div>
                    <div class="form-group">
                        <select asp-for="SubCategoryId" class="form-control" required>
                            <option value="" selected>Select a category</option>
                            @foreach (var cat in Model.SubCategories)
                            {
                                <option value="@cat.Id">@cat.Name</option>
                            }
                        </select>
                        <br />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                    <input type="hidden" name="id" value="@Model.Id" />
                    <button type="submit" id="confirmUpdate" class="btn btn-success">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- This is the deleteModal to delete a product: -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mx-auto text-center" id="deleteModalLabel"><strong>DELETE</strong></h5>
            </div>
            <div class="modal-body">
                <p class="text-center"><strong></strong></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                <form asp-action="Delete" method="post">
                    <input type="hidden" name="id" value="@Model.Id" />
                    <button type="submit" id="confirmDelete" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>